.gsGrid {
    width: 100%;
}

.gsGridItem {

    .text-title { 
        font-weight: 800;
        font-size: 2rem;
        letter-spacing: 0.15em;
    }

    img {
        padding: 1rem;
    }
}

.gsBorder {
    padding: 1rem;
    margin: 1.5rem;
    border-radius: var(--theme-border-radius);
    border: var(--theme-border-color) var(--theme-border-width) var(--theme-border-style);

    
    p {
        margin-top: 0.15rem;
        padding-bottom: 1rem;
    }
}
    .gsHeading {
        color: var(--theme-special-color);
        width: auto;
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        letter-spacing: 0.05em;
        border-bottom: var(--theme-create-color) 0.15em solid;

        &-left {
            @extend .gsHeading;
            text-align: left;
        }

        span {
            font-size: 4rem;
            position: relative;
            width: 100%;
            margin-left: 1em;
            margin-right: 0.25em;
            text-align: right;
            display: unset;
        }

    ul {
        padding-top: 1em;
        padding-left: 1em;

        li {
            padding-bottom: 1em;
        }
    }

}

.gsContent {
    &-flex {
        @extend .gsContent;
        padding: 1rem;
    }
    &-feature {
        text-align: center;
        margin: 1em;
        i {
            color: var(--theme-gray-light);
            font-size: 3rem;
        }
    }
    p {
        text-align: justify;
    }
    &Center {
        @extend .gsContent;
        p {
            text-align: center;
        }
    }
}

.gsDescImage {
    width: 33%;
    
    img {
        width: 100%;
        object-position: center;
//        border-radius: 0rem;
        @media screen {
            @media (max-width: 768px) {
                height: auto;
                object-fit: scale-down;
            }
        }
    }
}

.gsDescText {
    width: 70%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
//    border-radius: var(--theme-border-radius);
//    border: var(--theme-border-color) var(--theme-border-width) var(--theme-border-style);

    a {
        color: var(--theme-color-lighter);
        text-align: center;
        font-weight: 600;
        font-size: 1.2rem;
        margin-left: 20%;
        margin-right: auto;
        padding-left: 5%;
        padding-right: 5%;
        border-top: var(--theme-border-color) 1px solid;
        border-bottom: var(--theme-border-color) 1px solid;
        

    }

    a:hover {
        color: var(--theme-brand-color);
    }

}


.getting-started-img {
    width: 130px;
    object-fit: cover;
    margin-top: -5px;
    margin-right: 10px;
    object-position: center;
    border-radius: 2rem;
    filter: drop-shadow( 5px 5px 10px #88664a );
    @media screen and (max-width: 700px) {
     width: 50px;
    }
    &-two {
        @extend .getting-started-img;
        @media screen and (max-width: 1080px) {
            display: none;
        }
    }
    &-three {
        @extend .getting-started-img;
        @media screen and (max-width: 1218px) {
            display: none;
        }
    }
}