.gsGrid {
    width: 100%;
}

.gsGridItem {

    .text-title { 
        font-weight: 800;
        font-size: 2rem;
        letter-spacing: 0.15em;
    }

    img {
        padding: 1rem;
    }
}

.gsBorder {
    padding: 1rem;
    margin: 1.5rem;
    border-radius: var(--theme-border-radius);
    border: var(--theme-border-color) var(--theme-border-width) var(--theme-border-style);

    
    p {
        margin-top: 0.15rem;
        padding-bottom: 1rem;
    }

    .gsHeading {
        color: var(--theme-special-color);
        letter-spacing: 0.05em;
        border-bottom: var(--theme-create-color) 0.15em solid;

        span {
            font-size: 4rem;
            position: relative;
            width: 100%;
            margin-left: 1em;
            margin-right: 0.25em;
            text-align: right;
            display: unset;
        }
    }

    ul {
        padding-top: 1em;
        padding-left: 1em;

        li {
            padding-bottom: 1em;
        }
    }

}

.gsContent {
    text-align: center;
    &-flex {
        @extend .gsContent;
        padding: 1rem;
    }
    &-feature {
        text-align: center;
        margin: 1em;
        i {
            color: var(--theme-gray-light);
            font-size: 3rem;
        }
    }
    p {
        text-align: justify;
    }
}