.card {
  width: 330px;
  margin: 3% 6%;
  padding: 2% 3% 3% 2%;
  border-radius: 20px;
  background: rgba(8, 6, 11, 0.75);
  min-width: 330px;
}

.front {
  display: grid;
  margin: 0 auto;
  grid-gap: 1rem;
  align-items: center;
}

.back {
  display: grid;
  margin: auto;
  margin-left: 2%;
  grid-gap: 1rem;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  outline: 5px solid #d8552a;
  outline-offset: -5px;
  box-shadow: inset 0px 0px 0px 10px #aa35;
  outline-style: groove;
  background: linear-gradient(hsl(33, 33%, 29%), hsl(33, 40%, 6%));
  padding: 0.6rem;
  padding-top: 1.5rem;
  text-align: center;
  border-top: 1px solid hsl(215, 5%, 50%);
  border-right: 1px solid hsl(215, 5%, 25%);
  border-left: 1px solid hsl(215, 5%, 25%);
  border-bottom: 1px solid hsl(215, 4%, 15%);
  border-radius: 1.375rem;
}

.price {
}

.container {
  padding: 5px;
}

.cardImage {
  margin: auto;
  display: block;
  width: 50%;
  cursor: pointer;
}

.cardImageBack {
  margin: auto;
  display: block;
  width: 20%;
  cursor: pointer;
}
