img {
    max-width: 100%;
   }


   // MAYBE CAN DELETE THIS
   .img-content {
    font-weight: 500;
    font-size: 17px;
    display: flex;
    align-items: center;
    margin: 0;
    svg {
     width: 28px;
     margin-right: 14px;
    }
   }

   .content-wrapper-img {
    width: 186px;
    object-fit: cover;
    margin-top: -25px;
    object-position: center;
    @media screen and (max-width: 570px) {
        width: 110px;
    }
   }

   .tutorial-intro {
    object-fit: cover;
    margin-right: 0.5rem;
    object-position: center;
    border-radius: 2rem;
    filter: drop-shadow( 5px 5px 10px black );
   }

   .getting-started-img {
    width: 130px;
    object-fit: cover;
    margin-top: -5px;
    margin-right: 10px;
    object-position: center;
    border-radius: 2rem;
    filter: drop-shadow( 5px 5px 10px #88664a );
    @media screen and (max-width: 700px) {
     width: 50px;
    }
    &-two {
        @extend .getting-started-img;
        @media screen and (max-width: 1080px) {
            display: none;
        }
    }
    &-three {
        @extend .getting-started-img;
        @media screen and (max-width: 1218px) {
            display: none;
        }
    }
}