@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@201;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600;700&display=swap");

@import "_root.module.scss";
@import "_image.module.scss";
@import "color.module.scss";
@import "nav/main.module.scss";
@import "wrapper.module.scss";
@import "header.module.scss";
@import "footer.module.scss";
@import "content.module.scss";
@import "list.module.scss";
@import "appcard.module.scss";
@import "button.module.scss";
@import "chakra.module.scss";
@import "side.module.scss";

@import '@scss/page/gettingstarted.module.scss';
// @import "paper.module.scss";
// @import "notification.module.scss";

* {
 outline: none;
 box-sizing: border-box;
}

html {
 box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
}

body {
 font-family: var(--body-font);
// background-image: url(https://c4.wallpaperflare.com/wallpaper/624/781/96/blacksmith-embers-mallet-tools-wallpaper-preview.jpg);
 background: var(--theme-bg-color);
 background-image: var(--theme-bg-gradient);
 background-size: cover;
 background-position: center;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding: 2rem;
 width: 100%;
 height: 100vh;
 @media screen and (max-width: 30rem) {
  padding: 0.8rem;
 }
}

.video-bg {
 position: fixed;
 right: 0;
 top: 0;
 width: 100%;
 height: 100%;

 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
}

.dark-light {
 position: fixed;
 bottom: 3.125rem;
 right: 1.875rem;
 background-color: var(--dropdown-bg);
 box-shadow: -0.063rem 0.188rem 0.5rem -0.063rem rgba(0, 0, 0, 0.2);
 padding: 0.5rem;
 border-radius: 50%;
 z-index: 3;
 cursor: pointer;
 svg {
  width: 1.5rem;
  flex-shrink: 0;
  fill: #ffce45;
  stroke: #ffce45;
  transition: 0.5s;
 }
}

.app {
 background-color: var(--theme-bg-color);
 max-width: 78.125rem;
 max-height: 53.750rem;
 height: 90vh;
 display: flex;
 flex-direction: column;
 overflow: hidden;
 position: relative;
 width: 100%;
 border-radius: 0.875rem;
 backdrop-filter: blur(1.25rem);
 -webkit-backdrop-filter: blur(1.25rem);
 font-size: 1rem; // this is the font size that controls responsiveness
 font-weight: 500;
}

.portal {
    background-color: var(--theme-bg-color);
    display: flex;
    flex-direction: column;
    overflow: show;
    position: relative;
    border-width: 0.188rem;
    border-radius: 0.938rem;
    backdrop-filter: blur(0.313rem);
    -webkit-backdrop-filter: blur(0.313rem);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgb(255 255 255 / 45%) 100%
       );
   }

.menu-circle {
 width: 1rem;
 height: 1rem;
 background-color: #f96057;
 border-radius: 50%;
 box-shadow: 1.5rem 0 0 0 #f8ce52, 40.5rem 0 0 0 #5fcf65;
 margin-right: 12.188rem;
 flex-shrink: 0;
 @media screen and (max-width: 59.063rem) {
  display: none;
 }
}

.search-bar {
 height: 2.5rem;
 display: flex;
 width: 100%;
 max-width: 25rem;
 padding-left: 1rem;
 border-radius: 0.25rem;
 input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--search-bg);
  border-radius: 0.25rem;
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1.25rem 0 2.5rem;
  box-shadow: 0 0 0 0.125rem rgb(134 140 160 / 2%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 0.875rem;
  background-repeat: no-repeat;
  background-position: 1rem 48%;
  color: var(--theme-color);
  &::placeholder {
   font-family: var(--body-font);
   color: var(--inactive-color);
   font-size: 1rem;
   font-weight: 500;
  }
 }
}

.profile-img {
 width: 2rem;
 height: 2rem;
 border-radius: 50%;
 object-fit: cover;
 border: 0.125rem solid var(--theme-color);
 margin-left: 1.375rem;
}

.wide {
 .header-menu,
 .header-profile {
  display: none;
 }
 .search-bar {
  max-width: 37.50rem;
  margin: auto;
  transition: 0.4s;
  box-shadow: 0 0 0 0.063rem var(--border-color);
  padding-left: 0;
 }
 .menu-circle {
  margin-right: 0;
 }
}

.overlay-app {
 width: 100%;
 height: 100%;
 position: fixed;
 left: 0;
 top: 0;
 pointer-events: all;
 background-color: var(--overlay-bg);
 opacity: 0;
 visibility: hidden;
 transition: 0.3s;
 &.is-active {
  visibility: visible;
  opacity: 1;
 }
}

.proposals {
 display: flex;
 align-items: center;
 width: 9.375rem;
 @media screen and (max-width: 30rem) {
  width: 11.25rem;
 }
}

.status {
 margin-left: auto;
 width: 8.75rem;
 font-size: 0.9rem;
 position: relative;
 @media screen and (max-width: 43.750rem) {
  display: none;
 }
 &-circle {
  width: 0.375rem;
  height: 0.375rem;
  background-color: var(--notification-bg);
  position: absolute;
  border-radius: 50%;
  top: 0.25rem;
  left: -1.25rem;
 }
 &-button {
  font-size: 0.9rem;
  margin-top: 0;
  padding: 0.375rem 1.5rem;
  @media screen and (max-width: 24.375rem) {
   padding: 0.375rem 0.875rem;
  }
  &.open {
   background: none;
   color: var(--button-inactive);
   border: 0.063rem solid var(--button-inactive);
  }
  &:not(.open):hover {
   color: #fff;
   border-color: #fff;
  }
 }
}

.proposal-list-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  background-color: var(--content-bg);
  padding-left: 0;
  margin: 0;
  color: var(--proposal-list-item-color);
  border-radius: 0.875rem;
  border: 0.063rem solid var(--theme-bg-color);
  cursor: pointer;
  li {
   list-style: none;
   padding: 0.625rem 10.5rem;
   display: flex;
   align-items: center;
   font-size: 1rem;
   width: 100%;
   height: 100%;
   white-space: nowrap;
   transition: 0.3s;
   &:hover {
    background-color: var(--theme-bg-color);
    &:first-child {
     border-radius: 10.188rem 10.188rem 0 0;
    }
    &:last-child {
     border-radius: 0 0 10.188rem 10.188rem;
    }
   }
   & + li {
    border-top: 0.063rem solid var(--border-color);
   }
  }
  svg {
   width: 20.5rem;
   border-radius: 0.375rem;
   margin-right: 1rem;
   flex-shrink: 0;
  }
}

.proposal-vault-item {
    display: overlay;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 0.063rem solid var(--border-color);
    padding: 0 1.875rem;
    white-space: nowrap;
    background: rgba(76, 175, 80, 0.3);
    @media screen and (max-width: 30rem) {
     padding: 0 1rem;
    }
   }
   

.content-button:not(.open):hover {
 background: var(--button-standard-not-open-bg);
}

.menu {
 width: 0.313rem;
 height: 0.313rem;
 background-color: var(--button-inactive);
 border-radius: 50%;
 box-shadow: 0.438rem 0 0 0 var(--button-inactive), 0.875rem 0 0 0 var(--button-inactive);
 margin: 0 0.75rem;
}

@media screen and (max-width: 25.938rem) {
 .proposal-list .menu {
  display: none;
 }
}

.dropdown {
 position: relative;
 height: 6.88rem;
 width: 2.5rem;
 top: -1.5rem;
 display: flex;
 left: -0.313rem;
 background: transparent;
 border: none;
 cursor: pointer;
 ul {
  position: absolute;
  background: var(--dropdown-bg);
  height: 6.875rem;
  width: 11.25rem;
  right: 0;
  top: 1.25rem;
  pointer-events: none;
  opacity: 0;
  transform: translatey(0.625rem);
  transition: all 0.4s ease;
  li a {
   text-decoration: none;
   color: var(--theme-color);
   font-size: 0.75rem;
  }
 }
}

.dropdown.is-active {
 ul {
  opacity: 1;
  pointer-events: all;
  transform: translatey(1.563rem);
  li:hover {
   background-color: var(--dropdown-hover);
  }
 }
}

.button-wrapper {
 display: flex;
 align-items: center;
 justify-content: flex-end;
 margin-left: auto;
 @media screen and (max-width: 30rem) {
  width: auto;
 }
}

.pop-up {
 position: absolute;
 padding: 1.875rem 2.5rem;
 top: 50%;
 left: 50%;
 transform: (translate(-50%, -50%));
 overflow-y: auto;
 box-shadow: 0rem 0.375rem 1.875rem rgba(0, 0, 0, 0.4);
 transition: all 0.3s;
 z-index: 10;
 background-color: var(--popup-bg);
 width: 31.25rem;
 visibility: hidden;
 opacity: 0;
 border-radius: 0.375rem;
 display: flex;
 flex-direction: column;
 white-space: normal;
 @media screen and (max-width: 35.625rem) {
  width: 100%;
 }
 &.visible {
  visibility: visible;
  opacity: 1;
 }
 &__title {
  padding-bottom: 1.25rem;
  border-bottom: 0.063rem solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 &__subtitle {
  white-space: normal;
  margin: 1.25rem 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.8rem;
  a {
   color: var(--theme-color);
  }
 }
}

.text-enhanced {
    color: var(--text-enhanced-color);
    filter: drop-shadow( 1rem 1rem 2rem var(--text-enhanced-filter-color));
}

.content-button-wrapper .content-button.status-button.open.close {
 width: auto;
}

.content-section .close {
 margin-right: 0;
 width: 1.5rem;
}

.checkbox-wrapper {
 display: flex;
 align-items: center;
 font-size: 0.875rem;
 font-weight: 400;
 & + .checkbox-wrapper {
  margin: 1.25rem 0 2.5rem;
 }
}

.checkbox {
 display: none;
}

.checkbox + label {
 display: flex;
 align-items: center;
 &:before {
  content: "";
  margin-right: 0.625rem;
  width: 0.938rem;
  height: 0.938rem;
  border: 0.063rem solid var(--theme-color);
  border-radius: 0.25rem;
  cursor: pointer;
  flex-shrink: 0;
 }
}

.checkbox:checked + label:before {
 background-color: #3a6df0;
 border-color: #3a6df0;
 background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
 background-position: 50%;
 background-size: 0.75rem;
 background-repeat: no-repeat;
}

.content-button-wrapper {
 margin-top: auto;
 margin-left: auto;
 .open {
  margin-right: 0.5rem;
 }
}

::-webkit-scrollbar {
 width: 0.375rem;
 border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
 background: var(--scrollbar-bg);
 border-radius: 0.625rem;
}

.gettingStarted {
    width: 100%;
}
