@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@201;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600;700&display=swap");

@import "_image.module.scss";
@import "header.module.scss";

* {
 outline: none;
 box-sizing: border-box;
}

:root {
 --theme-bg-color: rgba(16 18 27 / 40%);
 --border-color: rgba(113 119 144 / 25%);
 --theme-color: #f9fafb;
 --inactive-color: rgb(113 119 144 / 78%);
 --body-font: "Poppins", sans-serif;
 --hover-menu-bg: rgba(144, 167, 241, 0.3);
 --content-title-color: #999ba5;
 --content-bg: rgb(146 151 179 / 13%);
 --button-inactive: rgb(249 250 251 / 55%);
 --dropdown-bg: #21242d;
 --dropdown-hover: rgb(42 46 60);
 --popup-bg: rgb(22 25 37);
 --search-bg: #14162b;
 --overlay-bg: rgba(36, 39, 59, 0.3);
 --scrollbar-bg: rgb(1 2 3 / 40%);
}

.light-mode {
 --theme-bg-color: rgb(255 255 255 / 31%);
 --theme-color: #3c3a3a;
 --inactive-color: #333333;
 --button-inactive: #3c3a3a;
 --search-bg: rgb(255 255 255 / 31%);
 --dropdown-bg: #f7f7f7;
 --overlay-bg: rgb(255 255 255 / 30%);
 --dropdown-hover: rgb(236 236 236);
 --border-color: rgb(255 255 255 / 35%);
 --popup-bg: rgb(255 255 255);
 --hover-menu-bg: rgba(255 255 255 / 35%);
 --scrollbar-bg: rgb(255 253 253 / 57%);
 --content-title-color: --theme-color;
}

html {
 box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
}

.logo {
 img {
    float: left;
    padding: 0;
    margin: 0;
 }
}

body {
 font-family: var(--body-font);
 background-image: url(https://c4.wallpaperflare.com/wallpaper/624/781/96/blacksmith-embers-mallet-tools-wallpaper-preview.jpg);
 background-size: cover;
 background-position: center;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding: 2em;
 width: 100%;
 height: 100vh;
 @media screen and (max-width: 30rem) {
  padding: 0.8em;
 }
}

.video-bg {
 position: fixed;
 right: 0;
 top: 0;
 width: 100%;
 height: 100%;

 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
}

.dark-light {
 position: fixed;
 bottom: 3.125rem;
 right: 1.875rem;
 background-color: var(--dropdown-bg);
 box-shadow: -0.063rem 0.188rem 0.5rem -0.063rem rgba(0, 0, 0, 0.2);
 padding: 0.5rem;
 border-radius: 50%;
 z-index: 3;
 cursor: pointer;
 svg {
  width: 1.5rem;
  flex-shrink: 0;
  fill: #ffce45;
  stroke: #ffce45;
  transition: 0.5s;
 }
}

.light-mode {
 .dark-light svg {
  fill: transparent;
  stroke: var(--theme-color);
 }
 .profile-img {
  border: 0.125rem solid var(--theme-bg-color);
 }
 .content-section ul {
  background-color: var(--theme-bg-color);
 }
 .pop-up__title {
  border-color: var(--theme-color);
 }
 .dropdown.is-active ul {
  background-color: rgb(255 255 255 / 94%);
 }
}

body.light-mode:before,
body.light-mode .video-bg:before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100vh;
 background: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0.72) 0%,
  rgb(255 255 255 / 45%) 100%
 );
 backdrop-filter: saturate(3);
}

.app {
 background-color: var(--theme-bg-color);
 max-width: 78.125em;
 max-height: 53.750em;
 height: 90vh;
 display: flex;
 flex-direction: column;
 overflow: hidden;
 position: relative;
 width: 100%;
 border-radius: 0.875rem;
 backdrop-filter: blur(1.25rem);
 -webkit-backdrop-filter: blur(1.25rem);
 font-size: 1rem;
 font-weight: 500;
}

.portal {
    background-color: var(--theme-bg-color);
    display: flex;
    flex-direction: column;
    overflow: show;
    position: relative;
    border-width: 0.188rem;
    border-radius: 0.938rem;
    backdrop-filter: blur(0.313rem);
    -webkit-backdrop-filter: blur(0.313rem);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgb(255 255 255 / 45%) 100%
       );
   }

.menu-circle {
 width: 1rem;
 height: 1rem;
 background-color: #f96057;
 border-radius: 50%;
 box-shadow: 1.5rem 0 0 0 #f8ce52, 40.5rem 0 0 0 #5fcf65;
 margin-right: 12.188rem;
 flex-shrink: 0;
 @media screen and (max-width: 59.063rem) {
  display: none;
 }
}

.search-bar {
 height: 2.5rem;
 display: flex;
 width: 100%;
 max-width: 25rem;
 padding-left: 1rem;
 border-radius: 0.25rem;
 input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--search-bg);
  border-radius: 0.25rem;
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1.25rem 0 2.5rem;
  box-shadow: 0 0 0 0.125rem rgb(134 140 160 / 2%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 0.875rem;
  background-repeat: no-repeat;
  background-position: 1rem 48%;
  color: var(--theme-color);
  &::placeholder {
   font-family: var(--body-font);
   color: var(--inactive-color);
   font-size: 1rem;
   font-weight: 500;
  }
 }
}

.profile-img {
 width: 2rem;
 height: 2rem;
 border-radius: 50%;
 object-fit: cover;
 border: 0.125rem solid var(--theme-color);
 margin-left: 1.375rem;
}

.wide {
 .header-menu,
 .header-profile {
  display: none;
 }
 .search-bar {
  max-width: 37.50rem;
  margin: auto;
  transition: 0.4s;
  box-shadow: 0 0 0 0.063rem var(--border-color);
  padding-left: 0;
 }
 .menu-circle {
  margin-right: 0;
 }
}

.wrapper {
 display: flex;
 flex-grow: 1;
 overflow: hidden;
}

.main-header {
 display: flex;
 align-items: center;
 border-bottom: 0.063rem solid var(--border-color);
 height: 3.625rem;
 width: 100%;
 flex-shrink: 0;
 .header-menu {
  @media screen  {
   margin: auto;
  }
  a {
    color: rgba(208, 199, 130, 0.78);
   padding: 1.25rem 1.50rem;
  }
 }
}

.main-container {
 display: flex;
 flex-direction: column;
 flex-grow: 1;
}

.menu-link-main {
 text-decoration: none;
 color: var(--theme-color);
 padding: 0 1.9rem;
 @media screen and (max-width: 65.938rem) {
  display: none;
 }
}

.content-wrapper {
 display: flex;
 flex-direction: column;
 color: var(--theme-color);
 padding: 1.25rem 2.5rem;
 height: 100%;
 overflow: auto;
 background-color: var(--theme-bg-color);
 @media screen and (max-width: 31.875rem) {
  padding: 1.25rem;
 }
 &-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  filter: drop-shadow( 0.625rem 1.25rem 0.938rem #000 );
  background-image: 
   linear-gradient(
    to right top,
    rgba(13,13,13,0.5),
    rgba(44,44,44,0.5),
    rgba(200,200,200,0.5)
   );
  border-radius: 0.875rem;
  padding: 1.25rem 2.5rem;
  @media screen and (max-width: 25.938rem) {
   padding: 1.25rem;
  }
 }
 &.overlay {
  pointer-events: none;
  transition: 0.3s;
  background-color: var(--overlay-bg);
 }
}

.overlay-app {
 width: 100%;
 height: 100%;
 position: fixed;
 left: 0;
 top: 0;
 pointer-events: all;
 background-color: rgba(36, 39, 59, 0.8);
 opacity: 0;
 visibility: hidden;
 transition: 0.3s;
 &.is-active {
  visibility: visible;
  opacity: 1;
 }
}

.content-text {
 font-weight: 400;
 font-size: 0.875rem;
 margin-top: 1rem;
 line-height: 1.7rem;
 color: #ebecec;
 display: -webkit-box;
 -webkit-line-clamp: 4;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;
}

.content-wrapper-context {
 max-width: 21.875rem;
}

.content-button {
 background-color: #3a6df0;
 border: none;
 padding: 0.5rem 1.625rem;
 color: #fff;
 border-radius: 1.25rem;
 margin-top: 1rem;
 cursor: pointer;
 transition: 0.3s;
 white-space: nowrap;
}



.content-section {
 margin-top: 1.875rem;
 display: flex;
 flex-direction: column;
  &-title {
  color: var(--content-title-color);
 }
 ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  background-color: var(--content-bg);
  padding-left: 0;
  margin: 0;
  border-radius: 0.875rem;
  border: 0.063rem solid var(--theme-bg-color);
  cursor: pointer;
  li {
   list-style: none;
   padding: 0.625rem 10.5rem;
   display: flex;
   align-items: center;
   font-size: 1rem;
   width: 100%;
   height: 100%;
   white-space: nowrap;
   transition: 0.3s;
   &:hover {
    background-color: var(--theme-bg-color);
    &:first-child {
     border-radius: 10.188rem 10.188rem 0 0;
    }
    &:last-child {
     border-radius: 0 0 10.188rem 10.188rem;
    }
   }
   & + li {
    border-top: 0.063rem solid var(--border-color);
   }
  }
  svg {
   width: 20.5rem;
   border-radius: 0.375rem;
   margin-right: 1rem;
   flex-shrink: 0;
  }
 }
}

.proposals {
 display: flex;
 align-items: center;
 width: 9.375rem;
 @media screen and (max-width: 30rem) {
  width: 11.25rem;
 }
}

.status {
 margin-left: auto;
 width: 8.75rem;
 font-size: 0.9rem;
 position: relative;
 @media screen and (max-width: 43.750rem) {
  display: none;
 }
 &-circle {
  width: 0.375rem;
  height: 0.375rem;
  background-color: #396df0;
  position: absolute;
  border-radius: 50%;
  top: 0.25rem;
  left: -1.25rem;
  &.green {
   background-color: #3bf083;
  }
 }
 &-button {
  font-size: 0.9rem;
  margin-top: 0;
  padding: 0.375rem 1.5rem;
  @media screen and (max-width: 24.375rem) {
   padding: 0.375rem 0.875rem;
  }
  &.open {
   background: none;
   color: var(--button-inactive);
   border: 0.063rem solid var(--button-inactive);
  }
  &:not(.open):hover {
   color: #fff;
   border-color: #fff;
  }
 }
}

.proposal-list-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  background-color: var(--content-bg);
  padding-left: 0;
  margin: 0;
  color: red;
  border-radius: 0.875rem;
  border: 0.063rem solid var(--theme-bg-color);
  cursor: pointer;
  li {
   list-style: none;
   padding: 0.625rem 10.5rem;
   display: flex;
   align-items: center;
   font-size: 1rem;
   width: 100%;
   height: 100%;
   white-space: nowrap;
   transition: 0.3s;
   &:hover {
    background-color: var(--theme-bg-color);
    &:first-child {
     border-radius: 10.188rem 10.188rem 0 0;
    }
    &:last-child {
     border-radius: 0 0 10.188rem 10.188rem;
    }
   }
   & + li {
    border-top: 0.063rem solid var(--border-color);
   }
  }
  svg {
   width: 20.5rem;
   border-radius: 0.375rem;
   margin-right: 1rem;
   flex-shrink: 0;
  }
}

.proposal-vault-item {
    display: overlay;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 0.063rem solid var(--border-color);
    padding: 0 1.875rem;
    white-space: nowrap;
    background: rgba(76, 175, 80, 0.3);
    @media screen and (max-width: 30rem) {
     padding: 0 1rem;
    }
   }
   

.content-button:not(.open):hover {
 background: #1e59f1;
}

.menu {
 width: 0.313rem;
 height: 0.313rem;
 background-color: var(--button-inactive);
 border-radius: 50%;
 box-shadow: 0.438rem 0 0 0 var(--button-inactive), 0.875rem 0 0 0 var(--button-inactive);
 margin: 0 0.75rem;
}

@media screen and (max-width: 25.938rem) {
 .proposal-list .menu {
  display: none;
 }
}

.dropdown {
 position: relative;
 height: 50.188rem;
 width: 2.5rem;
 top: -1.5rem;
 display: flex;
 left: -0.313rem;
 background: transparent;
 border: none;
 cursor: pointer;
 ul {
  position: absolute;
  background: var(--dropdown-bg);
  height: 6.875rem;
  width: 11.25rem;
  right: 0;
  top: 1.25rem;
  pointer-events: none;
  opacity: 0;
  transform: translatey(0.625rem);
  transition: all 0.4s ease;
  li a {
   text-decoration: none;
   color: var(--theme-color);
   font-size: 0.75rem;
  }
 }
}

.dropdown.is-active {
 ul {
  opacity: 1;
  pointer-events: all;
  transform: translatey(1.563rem);
  li:hover {
   background-color: var(--dropdown-hover);
  }
 }
}

.button-wrapper {
 display: flex;
 align-items: center;
 justify-content: flex-end;
 margin-left: auto;
 @media screen and (max-width: 30rem) {
  width: auto;
 }
}

.pop-up {
 position: absolute;
 padding: 1.875rem 2.5rem;
 top: 50%;
 left: 50%;
 transform: (translate(-50%, -50%));
 overflow-y: auto;
 box-shadow: 0rem 0.375rem 1.875rem rgba(0, 0, 0, 0.4);
 transition: all 0.3s;
 z-index: 10;
 background-color: var(--popup-bg);
 width: 31.25rem;
 visibility: hidden;
 opacity: 0;
 border-radius: 0.375rem;
 display: flex;
 flex-direction: column;
 white-space: normal;
 @media screen and (max-width: 35.625rem) {
  width: 100%;
 }
 &.visible {
  visibility: visible;
  opacity: 1;
 }
 &__title {
  padding-bottom: 1.25rem;
  border-bottom: 0.063rem solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 &__subtitle {
  white-space: normal;
  margin: 1.25rem 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.8em;
  a {
   color: var(--theme-color);
  }
 }
}

.text-enhanced {
    color: #f37402;
    filter: drop-shadow( 1em 1em 2em #fff);
}

.content-button-wrapper .content-button.status-button.open.close {
 width: auto;
}

.content-section .close {
 margin-right: 0;
 width: 1.5rem;
}

.checkbox-wrapper {
 display: flex;
 align-items: center;
 font-size: 0.875rem;
 font-weight: 400;
 & + .checkbox-wrapper {
  margin: 1.25rem 0 2.5rem;
 }
}

.checkbox {
 display: none;
}

.checkbox + label {
 display: flex;
 align-items: center;
 &:before {
  content: "";
  margin-right: 0.625rem;
  width: 0.938rem;
  height: 0.938rem;
  border: 0.063rem solid var(--theme-color);
  border-radius: 0.25rem;
  cursor: pointer;
  flex-shrink: 0;
 }
}

.checkbox:checked + label:before {
 background-color: #3a6df0;
 border-color: #3a6df0;
 background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
 background-position: 50%;
 background-size: 0.75rem;
 background-repeat: no-repeat;
}

.content-button-wrapper {
 margin-top: auto;
 margin-left: auto;
 .open {
  margin-right: 0.5rem;
 }
}

.apps-card {
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 width: calc(100% + 1.25rem);
}

.app-card {
 display: flex;
 flex-direction: column;
 width: calc(33.3% - 1.25rem);
 font-size: 1rem;
 background-color: var(--content-bg);
 border-radius: 0.875rem;
 border: 0.063rem solid var(--theme-bg-color);
 padding: 1.25rem;
 cursor: pointer;
 transition: 0.3s ease;
 &:hover {
  transform: scale(1.02);
  background-color: var(--theme-bg-color);
 }
 svg {
  width: 20.5rem;
  border-radius: 0.375rem;
  margin-right: 0.75rem;
  flex-shrink: 0;
 }
 img {
    width: 2.9em;
    border-radius: 0.375rem;
    margin-right: 0.75rem;
    flex-shrink: 0;
 }
 & + .app-card {
  margin-left: 1.25rem;
 }
 span {
  display: flex;
  align-items: center;
 }
 &__subtext {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6em;
  margin-top: 1.25rem;
  border-bottom: 0.063rem solid var(--border-color);
  padding-bottom: 1.25rem;
 }
 &-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 1rem;
 }
 @media screen and (max-width: 69.375rem) {
  width: calc(50% - 1.25rem);
  &:last-child {
   margin-top: 1.25rem;
   margin-left: 0;
  }
 }
 @media screen and (max-width: 35.313rem) {
  width: calc(100% - 1.25rem);
  margin-top: 1.25rem;
  & + .app-card {
   margin-left: 0;
  }
 }
}

::-webkit-scrollbar {
 width: 0.375rem;
 border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
 background: var(--scrollbar-bg);
 border-radius: 0.625rem;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
 width: 1em;
 height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
 fill: #4691f6;
}

.svg-icon circle {
 stroke: #4691f6;
 stroke-width: 1;
}

.gettingStarted {
    width: 100%;
}