@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@201;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600;700&display=swap");

// core components
@import "_root.module.scss";

// navigation
@import "nav/main.module.scss";
@import "side.module.scss";
@import "menu.module.scss";

// layout
@import "wrapper.module.scss";
@import "content.module.scss";
@import "list.module.scss";
@import "chakra.module.scss";
@import "header.module.scss";
@import "footer.module.scss";

// features / elements
@import "profile.module.scss";
@import "feedback.module.scss";
@import "proposal.module.scss";

//components
@import "component/icon.module.scss";
@import "component/image.module.scss";
@import "component/appcard.module.scss";
@import "component/button.module.scss";
@import "component/card.module.scss";
@import "component/heading.module.scss";
@import "component/checkbox.module.scss";
@import "component/modal.module.scss";
@import "component/timeline.module.scss";
@import "component/text.module.scss";

// functions

//pages 
@import 'page/gettingstarted.module.scss';

* {
    outline: none;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
 font-family: var(--body-font);
 background: var(--theme-bg);
 background-size: cover;
 background-position: center;
 justify-content: center;
 align-items: center;
 display: flex;
 width: 100%;
 height: 100vh;
 @media screen and (min-width: 1200px) {
    padding: 5rem;
   }
 @media screen and (min-width: 655px) {
  padding: 2rem;
 }
}

.video-bg {
 position: fixed;
 right: 0;
 top: 0;
 width: 100%;
 height: 100%;

 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
}

.app {
    font-size: 16px; // this is the font size that controls responsiveness
    font-weight: 500;
    background-color: var(--theme-bg-color);
    max-width: 78.125rem;
    max-height: 53.750rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 0.875rem;
    @media screen and (max-width: 515px) {
        font-size: 0.9rem;
    }
}

.search-bar {
 height: 2.5rem;
 display: flex;
 width: 100%;
 max-width: 25rem;
 padding-left: 1rem;
 border-radius: 0.25rem;
 input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--search-bg);
  border-radius: 0.25rem;
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1.25rem 0 2.5rem;
  box-shadow: 0 0 0 0.125rem rgb(134 140 160 / 2%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 0.875rem;
  background-repeat: no-repeat;
  background-position: 1rem 48%;
  color: var(--theme-color);
  &::placeholder {
   font-family: var(--body-font);
   color: var(--theme-inactive-color);
   font-size: 1rem;
   font-weight: 500;
  }
 }
}

.wide {
    width: 100%;
    .search-bar {
        max-width: 37.50rem;
        margin: auto;
        transition: 0.4s;
        box-shadow: 0 0 0 0.063rem var(--theme-border-color);
        padding-left: 0;
    }
    .listFrame {
        width: 100%;
    }
}

.appOverlay {
 width: 100%;
 height: 100%;
 position: fixed;
 left: 0;
 top: 0;
 pointer-events: all;
 background-color: var(--overlay-bg);
 opacity: 0;
 visibility: hidden;
 transition: 0.3s;
 &.is-active {
  visibility: visible;
  opacity: 1;
 }
}

.proposals {
 display: flex;
 align-items: center;
 width: 9.375rem;
 @media screen and (max-width: 30rem) {
  width: 11.25rem;
 }
}

.status {
 margin-left: auto;
 width: 8.75rem;
 font-size: 0.9rem;
 position: relative;
 @media screen and (max-width: 43.750rem) {
  display: none;
 }
 &-circle {
  width: 0.375rem;
  height: 0.375rem;
  background-color: var(--notification-bg);
  position: absolute;
  border-radius: 50%;
  top: 0.25rem;
  left: -1.25rem;
 }
 &-button {
  font-size: 0.9rem;
  margin-top: 0;
  padding: 0.375rem 1.5rem;
  @media screen and (max-width: 24.375rem) {
   padding: 0.375rem 0.875rem;
  }
  &.open {
   background: none;
   color: var(--button-inactive);
   border: 0.063rem solid var(--button-inactive);
  }
  &:not(.open):hover {
   color: #fff;
   border-color: #fff;
  }
 }
}

.dropdown {
    position: relative;
    height: 6.875rem;
    width: 2.5rem;
    top: -1.5rem;
    display: flex;
    left: -0.313rem;
    background: transparent;
    border: none;
    cursor: pointer;

    ul {
        position: absolute;
        background: var(--dropdown-bg);
        height: 6.875rem;
        width: 11.25rem;
        right: 0;
        top: 1.25rem;
        pointer-events: none;
        opacity: 0;
        transform: translatey(0.625rem);
        transition: all 0.4s ease;

        li a {
            text-decoration: none;
            color: var(--theme-color);
            font-size: 0.75rem;
        }
    }
}

.dropdown.is-active {
 ul {
  opacity: 1;
  pointer-events: all;
  transform: translatey(1.563rem);
  li:hover {
   background-color: var(--dropdown-hover);
  }
 }
}

.pop-up {
 position: absolute;
 padding: 1.875rem 2.5rem;
 top: 50%;
 left: 50%;
 transform: (translate(-50%, -50%));
 overflow-y: auto;
 box-shadow: 0rem 0.375rem 1.875rem rgba(0, 0, 0, 0.4);
 transition: all 0.3s;
 z-index: 10;
 background-color: var(--popup-bg);
 width: 31.25rem;
 visibility: hidden;
 opacity: 0;
 border-radius: 0.375rem;
 display: flex;
 flex-direction: column;
 white-space: normal;
 @media screen and (max-width: 35.625rem) {
  width: 100%;
 }
 &.visible {
  visibility: visible;
  opacity: 1;
 }
 &__title {
  padding-bottom: 1.25rem;
  border-bottom: 0.063rem solid var(--theme-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 &__subtitle {
  white-space: normal;
  margin: 1.25rem 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.8rem;
  a {
   color: var(--theme-color);
  }
 }
}

.text-enhanced {
    color: var(--text-enhanced-color);
    filter: drop-shadow( 1rem 1rem 2rem var(--text-enhanced-filter-color));
}

.notice {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    &-loading {
        font-size: 0.75rem;
        color: var(--theme-inactive-color);
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
        cursor: help;
    }
}

.blockHeight {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    &Text {
        font-size: 0.75rem;
        color: var(--theme-inactive-color);
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
        cursor: help;
    }
}

.content-button-wrapper .content-button.status-button.open.close {
 width: auto;
}

::-webkit-scrollbar {
 width: 0.375rem;
 border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
 background: var(--scrollbar-bg);
 border-radius: 0.625rem;
}

.div-full {
    width: 100%;
    height: 100%;
}

.opacity-100 {
    --background-opacity: 0;
  }
  
  .opacity-80 {
    --background-opacity: 0.2;
  }
  
  .opacity-60 {
    --background-opacity: 0.4;
  }
  
  .opacity-40 {
    --background-opacity: 0.6;
  }
  
  .opacity-20 {
    --background-opacity: 0.8;
  }