.standard {
    width: 100%;
    color: var(--button-standard-color);
    background-color: var(--button-standard-bg);
    border: none;
    padding: 0.5rem 1.6rem;
    border-radius: 1.25rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
    svg {
        color: var(--button-special-color);
        margin-right: 1em;
    }
    &-disable {
        background-color: var(--icon-disable);
        @extend .standard;
    }
    &-create {
        @extend .standard;
        background-color: var(--button-create-bg);
        svg {
            color: var(--button-create-color);
            margin-right: 1em;
        }
    }
}

.outline {
    color: var(--button-standard-color);
    border: var(--button-special-bg) solid 0.35rem;
    padding: 0.5rem 1.6rem;
    border-radius: 1.25rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    svg {
        color: var(--button-special-bg);
        margin-right: 1em;
    }
    &-disable {
        border: var(--button-disable-bg) solid 0.35rem;
        @extend .outline;
    }
    &-standard{
        border: var(--button-standard-bg) solid 0.35rem;
        @extend .outline;
    }
}

.simple {
    color: var(--button-standard-color);
    border: none;
    padding: 0.5rem 1.6rem;
    border-radius: 1.25rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    svg {
        color: var(--button-special-bg);
        margin-right: 1em;
    }
    &-disable {
        border: none;
        @extend .outline;
    }
    &-standard{
        border: none;
        @extend .outline;
    }
}

.clear {
    display: flex;
    flex-direction: column;
    color: var(--theme-color);
    padding: 1.25rem 2.5rem;
    height: 100%;
    overflow: auto;
    justify-content: space-between;
    filter: drop-shadow( 0.625rem 1.25rem 0.938rem #000 );
    background-image: 
    linear-gradient(
        to right top,
        rgba(13,13,13,0.2),
        rgba(44,44,44,0.2),
        rgba(200,200,200,0.2)
        );
    border-radius: 0.875rem;
    padding: 1.25rem 2.5rem;
    @media screen and (max-width: 25.938rem) {
        padding: 1.25rem;
    }
    svg {
        padding-right: 0.4rem;
        padding-left: 0.4rem;
    }
}

/*
.chakra-accordion__button {
    border-style: solid;
    border-radius: 10rem;
    box-shadow: 0.438rem 0 0 0 var(--button-inactive), 0.875rem 0 0 0 var(--button-inactive);
    margin-top: 3rem;
    padding: 0px;
    overflow: 'hidden';
}
*/