.feedbackHeader {
   height: 4rem;
   width: 100%;
   color: var(--theme-color);
   background: var(--theme-bg-header);
   border-bottom: 0.063rem solid var(--border-color);
   padding: 1rem;
   white-space: nowrap;
   &-menu {
    display: flex;
    align-items: center;
    a {
     padding: 1.25rem 1.875rem;
     text-decoration: none;
     color: var(--theme-inactive-color);
     border-bottom: 0.125rem solid transparent;
     transition: 0.3s;
     }
     &.is-active,
     &:hover {
      color: var(--theme-color);
      border-bottom: 0.125rem solid var(--theme-color);
     }
    }
   }

.feedbackSelect {
   padding: 1rem;
   margin: 1.5rem;
   border-radius: var(--theme-border-radius);
   border: var(--theme-border-color) var(--theme-border-width) var(--theme-border-style);
   p {
      font-size: 2rem;
      font-weight: 800;
   }
   
   i {
      width: 100%;
      color: var(--theme-inactive-color);
   }

   span {
      color: var(--theme-inactive-color);
      width: 100%;
      font-size: 3rem;
   }

   i:hover {
      color: var(--theme-special-color);
      border-bottom: var(--theme-create-color) 0.05em solid;
      cursor: pointer;
   }
}

.feedbackQuick {
   display: none;
   padding: 1rem;
   margin: 1.5rem;
   border-radius: var(--theme-border-radius);
   border: var(--theme-border-color) var(--theme-border-width) var(--theme-border-style);
   
   p {
         margin-top: 0.15rem;
         padding-bottom: 1rem;
   }
}