.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: $headerHeight;
    width: 100%;
    background: var(--theme-bg-header);
    border-bottom: 0.063rem solid var(--border-color);
    padding: 0 1.9rem;
    white-space: nowrap;
    @media screen and (max-width: 30em) {
     padding: 0 1rem;
    }
    .logo {
        content:"";
        height: 100%;
        width: 8rem;
        max-height: 3.5rem;
        margin-top: auto;
        vertical-align: bottom;
        margin-bottom: auto;
        margin-right: auto;
        z-index: 5; // keep the logo on top of the header
        filter: drop-shadow(0.1rem 0.1rem 0.5rem var(--theme-inactive-color));
        
        @media screen and (max-width: $maxWidth) {
            img {
                width: 100%;
            }
        }
    }
}