$headerHeight: 3.625rem;
$maxWidth: 650px;

.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: $headerHeight;
    width: 100%;
    background: var(--theme-bg-header);
    backgroun-image: var(--theme-bg-image-header);
    border-bottom: 0.063rem solid var(--border-color);
    padding: 0 1.9rem;
    white-space: nowrap;
    @media screen and (max-width: 30em) {
     padding: 0 1rem;
    }
    &-menu {
     display: flex;
     align-items: center;
     a {
      padding: 1.25rem 1.875rem;
      text-decoration: none;
      color: var(--theme-inactive-color);
      border-bottom: 0.125rem solid transparent;
      transition: 0.3s;
      @media screen and (max-width: 38.125em) {
       &:not(.main-header-link) {
        display: none;
       }
      }
      &.is-active,
      &:hover {
       color: var(--theme-color);
       border-bottom: 0.125rem solid var(--theme-color);
      }
     }
    }
    .logo {
        display: inline;
        margin-right: auto;
        vertical-align: bottom;
        max-height: ($headerHeight);
        margin-top: auto;
        margin-bottom: auto;
        height: 100%;
        img {
            width: 100%;
            max-height: ($headerHeight *.92);
            margin-top: 0.7vh;
        }
        @media screen and (max-width: $maxWidth) {
            image {
                width: 100%;
            }
        }
    }
}

.header-profile {
    display: flex;
    align-items: center;
    padding: 0 1rem 0 2.5rem;
    padding-left: 1rem;
    flex-shrink: 0;
    svg {
     width: 1.375rem;
     color: #f9fafb;
     flex-shrink: 0;
    }
    @media screen and (max-width: $maxWidth) {
        margin-left: 0.25rem;
        padding-left: 0rem;
    }
}