.menuSection {
    padding-top: 0.5rem;
    border-right: 0.15rem solid var(--theme-inactive-color);
    background-color: var(--theme-bg-menu);
    overflow: auto;
    flex-shrink: 0;
    margin-bottom: 3rem;
    filter: drop-shadow( 0.5rem 0.5rem 1rem var(--theme-bg-color));
   }

.menuWrapper {
    padding-top: 0.5rem;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    &-menu::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 1rem;
        padding-top: 1rem;
    }
}
   
.menuTitle {
    color: var(--text-menu-title-color);
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    padding-top: 0rem;
    font-size: 0.9rem;
}

.menuList {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    a {
     text-decoration: none;
     color: var(--theme-color);
     display: flex;
     align-items: center;
     font-weight: 400;
     padding: 0.6em;
     font-size: 0.95em;
     border-radius: 0.5em;
     transition: 0.2s;
     &:hover {
      background-color: var(--theme-bg-menu-hover);
     }
    }
    i {
     margin-right: 0.5rem;
     font-variation-settings: 'FILL' 1;
     color: var(--icon-color);
     font-size: 1.3rem;
    }
    svg {
        @extend i;
        width: 1.3rem;
    }

    img {
        @extend i;
        width: 1.3rem;
    }
    
    .image {
        @extend i;
        height: 1em;
    }

    span {
        margin-right: 0.5rem;
    }
}