.card {
    min-width: 390px;
    margin-left: 25%;
    margin-right: 50%;
    margin-top: 10%;
    min-height: 510px;
  }
  
  .front {
    margin-right: 35px;
}

  .back {
    padding-top: 0px;
    margin-top: 0px;
  }
  
  .price {
  }
  
  .container {
      padding: 5px;
  }
  
  .cardImage {
  }