
.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    @media screen and (max-width: 30rem) {
     width: auto;
    }
   }
   
.buttonStandard {
    color: var(--button-standard-color);
    background-color: var(--button-standard-bg);
    border: none;
    padding: 0.5rem 1.6rem;
    border-radius: 1.25rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
    &:hover {
        filter: brightness(1.5);
    }
    &-wide {
        width: 100%;
    }
    &-dark {
        @extend .buttonStandard;
        filter: brightness(0.5);
    }
    svg {
        color: var(--button-special-color);
        margin-right: 1em;
    }
    &-disable {
        background-color: var(--icon-disable);
        @extend .standard;
    }
    &-create {
        @extend .standard;
        background-color: var(--button-create-bg);
        svg {
            color: var(--button-create-color);
            margin-right: 1em;
        }
    }
}

.buttonOutline {
    color: var(--button-standard-color);
    border: var(--button-special-bg) solid 0.35rem;
    padding: 0.5rem 1.6rem;
    border-radius: 1.25rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    svg {
        color: var(--button-special-bg);
        margin-right: 1em;
    }
    &-disable {
        border: var(--button-disable-bg) solid 0.35rem;
        @extend .outline;
    }
    &-standard{
        border: var(--button-standard-bg) solid 0.35rem;
        @extend .outline;
    }
}

.buttonSimple {
    padding: 0.5rem 1.6rem;
    border-radius: 0.1rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    background: none;
    svg {
        color: var(--button-special-bg);
        margin-right: 1em;
    }
    &-disable {
        border: none;
        @extend .outline;
    }
    &-standard{
        border: none;
        @extend .outline;
    }
    &Wide {
        @extend .buttonSimple;
        width: 100%;
    }
}

.buttonMenu {
    @extend .buttonSimple;
    width: 100%;

    &Active {
        @extend .buttonMenu;
        color: var(--button-standard-color);
        background: none;

        &::before {
            content: "";
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            background-color: var(--button-special-bg);
            border-radius: 50%;
            margin-right: 1rem;
        }
        &::after {
            content: "";
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            background-color: var(--button-special-bg);
            border-radius: 50%;
            margin-left: 1rem;
        }

    }

    &:hover {
        @extend .buttonMenuActive;
        color: var(--button-standard-color);
        background: none;

    }
}

.buttonCollapse {
    @extend .buttonMenu;

    &Active {
        @extend .buttonMenuActive;
    }

}

.buttonClear {
    display: flex;
    flex-direction: column;
    color: var(--theme-color);
    padding: 1.25rem 2.5rem;
    overflow: auto;
    justify-content: space-between;
    filter: drop-shadow( 0.625rem 1.25rem 0.938rem #000 );
    background-image: 
    linear-gradient(
        to right top,
        rgba(13,13,13,0.2),
        rgba(44,44,44,0.2),
        rgba(200,200,200,0.2)
        );
    border-radius: 0.875rem;
    padding: 1.25rem 2.5rem;
    @media screen and (max-width: 25.938rem) {
        padding: 1.25rem;
    }
    svg {
        padding-right: 0.4rem;
        padding-left: 0.4rem;
    }
}

.buttonMinimal {
    &:hover {
        background:var(--theme-bg-hover);
        color: var(--theme-create-color);
    }

}
.standard {
    // delete this after replacing all uses with buttonStandard
    @extend .buttonStandard;
    width: 100%;
}

.clear {
    // delete this after replacing all uses with buttonClear
    @extend .buttonClear;
}

.simple {
    // delete this after replacing all uses with buttonSimple
    @extend .buttonSimple;
}

.outline {
    // delete this after replacing all uses with buttonOutline
    @extend .buttonOutline;
}