.icon {
    font-variation-settings: 'FILL' 1;

    &-create {
        @extend .icon;
        color: var(--theme-create-color);

    }

    &-menu {
        margin-right: 0.5rem;
    }

    &-action { 
        @extend .icon;
        color: var(--theme-create-color);
    }
    &-action:hover {
        cursor: pointer;
        filter: drop-shadow(0.1rem 0.1rem 0.5rem var(--theme-bg-icon-hover));

    }
}

/*
.icon-create::before {
    content: "\e146";
    margin-right: 1em;
    font-size: 2rem;
    font-family: "Material Symbols Outlined";
}

.icon-new::before { 
    content: "\e869";
    font-size: 2rem;
    font-family: "Material Symbols Outlined";
}
*/