.icon {
    font-variation-settings: 'FILL' 1;

    &-create {
        @extend .icon;
        color: var(--theme-create-color);
    }
    &-proposal {
        @extend .iconLockYFD-enable;
        @extend .icon-menu; // for padding
        font-size: 3rem;
    }
    &-menu {
        margin-right: 0.5rem;
    }

    &Warning {
        @extend .icon;
        color: var(--theme-special-color);
        padding: 0.25rem 0.7rem;
    }

    &-action { 
        @extend .icon;
        color: var(--theme-create-color);
    }
    &-action:hover {
        @extend .icon-shadow;
        cursor: pointer;
    }

    &Confirm {
        @extend .icon;
        color: var(--theme-confirm-color);
    }

    &Inline {
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 0;
        margin-bottom: 0;
        @extend .icon;
        align-self: bottom;
    }

    &Paste {
        @extend .icon;
        color: var(--theme-paste-color);
        cursor: pointer;
        align-self: bottom;
        &:hover {
            filter: drop-shadow(0.1rem 0.1rem 0.5rem var(--theme-bg-icon-hover));
        }
    }

    &Confirm {
        @extend .icon;
        color: var(--theme-confirm-color);
    }

    &Paste {
        @extend .icon;
        color: var(--theme-paste-color);
        cursor: pointer;
        align-self: bottom;
        &:hover {
            filter: drop-shadow(0.1rem 0.1rem 0.5rem var(--theme-bg-icon-hover));
        }
    }
}

.cursor {

    &Pointer {
        cursor: pointer;
    }
    &Help {
        cursor: help;
    }
}

.iconLockYFD {
    font-variation-settings: 'FILL' 0;
    font-size: 50px !important;
    cursor: not-allowed;
    &-enable {
        @extend .iconLockYFD;
        @extend .icon;
        @extend .icon-shadow;
        font-variation-settings: 'FILL' 1;
        color: var(--theme-create-color);
        cursor: pointer;
    }    
}

.iconProposalCreate {
    @extend .iconLockYFD-enable;
    cursor: default;
    margin-right: 1rem;
}

.icon-shadow {
    filter: drop-shadow(0.1rem 0.1rem 0.5rem var(--theme-bg-icon-hover));
}

/*
.icon-create::before {
    content: "\e146";
    margin-right: 1em;
    font-size: 2rem;
    font-family: "Material Symbols Outlined";
}

.icon-new::before { 
    content: "\e869";
    font-size: 2rem;
    font-family: "Material Symbols Outlined";
}
*/
