.textSpecial {
    color: var(--theme-special-color);
}

.text-header-proposal-create {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.textCenter {
    text-align: center;
    justify-content: center;
}

.textConsole {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.02rem;
    font-size: 0.75rem;
    color: var(--theme-inactive-color);
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    cursor: help;
}